<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Apartamento</title>
</head>
<body>
  <h1>Novo Apartamento</h1>

  <form action="/buildings" method="POST">
    <label for="address">Endereço</label>
    <input type="text" name="address">

    <label for="description">Descrição</label>
    <input type="text" name="description">

    <input type="submit" value="Enviar">
  </form>
</body>
</html>